---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 13ms
      X-Forecast-Api-Calls:
      - '326'
      X-Response-Time:
      - 79.433ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1573068398,"summary":"Clear","icon":"clear-day","nearestStormDistance":56,"nearestStormBearing":339,"precipIntensity":0,"precipProbability":0,"temperature":54.95,"apparentTemperature":55.16,"dewPoint":28.25,"humidity":0.36,"pressure":1019.8,"windSpeed":10.12,"windGust":16.01,"windBearing":22,"cloudCover":0.15,"uvIndex":3,"visibility":9.846,"ozone":269.9},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1573068360,"precipIntensity":0,"precipProbability":0},{"time":1573068420,"precipIntensity":0,"precipProbability":0},{"time":1573068480,"precipIntensity":0,"precipProbability":0},{"time":1573068540,"precipIntensity":0,"precipProbability":0},{"time":1573068600,"precipIntensity":0,"precipProbability":0},{"time":1573068660,"precipIntensity":0,"precipProbability":0},{"time":1573068720,"precipIntensity":0,"precipProbability":0},{"time":1573068780,"precipIntensity":0,"precipProbability":0},{"t[...]
