---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_KEY>/39.7392358,-104.990251,1573006147
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 462ms
      X-Forecast-Api-Calls:
      - '327'
      X-Response-Time:
      - 38.922ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1573006147,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":47.25,"apparentTemperature":46.44,"dewPoint":31.29,"humidity":0.54,"pressure":1020.5,"windSpeed":3.13,"windGust":5.1,"windBearing":184,"cloudCover":0.06,"uvIndex":0,"visibility":9.748,"ozone":258.9},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1572937200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":34.87,"apparentTemperature":34.87,"dewPoint":31.38,"humidity":0.87,"pressure":1019.6,"windSpeed":1.6,"windGust":3.32,"windBearing":131,"cloudCover":0,"uvIndex":0,"visibility":9.633,"ozone":274.7},{"time":1572940800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":34.69,"apparentTemperature":34.69,"dewPoint":30.42,"humidity":0.84,"pressur[...]
