---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_KEY>&content_type=1&format=json&geo_context=2&lat=51.6723432&lon=0.148271&method=flickr.photos.search&nojsoncallback=1&radius=10&tags=parks,nature,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":10,"perpage":250,"total":"2308","photo":[{"id":"49000561138","owner":"148522344@N08","secret":"96b50c724f","server":"65535","farm":66,"title":"FishersGreenNo7-Ver2
        - Copy","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49001305467","owner":"148522344@N08","secret":"6db5ba624d","server":"65535","farm":66,"title":"FishersGreenNo11
        - Copy","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48993001053","owner":"148522344@N08","secret":"9efc4bbf4e","server":"65535","farm":66,"title":"FishersGreenNo19
        - Copy","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48824470247","owner":"13634925@N03","secret":"25c81b19b9","server":"65535","farm":66,"title":"Little
        squirrel on the sill...","ispub[...]
