---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 06 Nov 2019 19:28:58 GMT
[...]
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_KEY>&content_type=1&format=json&geo_context=2&lat=39.7392358&lon=-104.990251&method=flickr.photos.search&nojsoncallback=1&radius=10&tags=parks,nature,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14,"perpage":250,"total":"3300","photo":[{"id":"48987958698","owner":"29823227@N03","secret":"d029949ce8","server":"65535","farm":66,"title":"Arachtober
        30th (3)","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48986327972","owner":"66944894@N06","secret":"ef2328116f","server":"65535","farm":66,"title":"Colorado
        Gay Rodeo Association","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48968419511","owner":"75736915@N00","secret":"c94a779884","server":"65535","farm":66,"title":"Denver
        Time Travel","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48904527872","owner":"66944894@N06","secret":"e12b4e5c3a","server":"65535","farm":66,"title":"Colorado
        Gay Rodeo Association","ispub[...]
